<h1>Test</h1>
<%= @event.name %>
<%#= @page.summary %>
<%#= @page.raw_data['continue']['elcontinue'] %>
<%# raise %>
<%#= @articles %>
<ul>
<% @top_headlines.each do |headline| %>
  <li><%= headline.title %></li>
  <li><%= headline.description %></li>
  <li><%= headline.url %></li>
<% end %>
</ul>
<!-- <ul>
  <%#= @everything.each do |news| %>
    <li><%#= news.url %></li>
  <%# end %>
</ul> -->
<%#= @response %>
<%# raise %>
<%#= @items %>
<%#= @sections %>
